@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<DepartmentWithDivision>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>


@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No campuses yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Division">
        <tr>
            <th>Department Name</th>
            <th>Active</th>
            <th>Division Name</th>

        </tr>

        @foreach (DepartmentWithDivision department in Model)
        {

            <tr>
                <td>@department.DepartmentName</td>
                <td>@department.Active</td>
                <td>@department.DivisonName</td>



                <td>
                    <form method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Department" asp-action="EditDepartment" asp-route-id="@department.Id">Edit</a>
                        <a class="btn btn-sm btn-primary" asp-action="Employees" asp-controller="Department" asp-route-id="@department.Id">View Employees</a>
                    </form>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="AddDepartment">Add new department</a>
</p>

