@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<DivisionWithSupervisor>

@{
    ViewData["Title"] = "Index";
}

<h2>Divisions</h2>


@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No campuses yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Division">
        <tr>
            <th>Division Name</th>
            <th>Active</th>
            <th>Supervisor</th>

        </tr>

        @foreach (DivisionWithSupervisor division in Model)
        {

            <tr>
                <td>@division.DivisionName</td>
                <td>@division.Active</td>
                <td>@division.Supervisor.FullName</td>
               


                <td>
                    <form asp-action="DeleteCampus" asp-route-id="@division.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditDivision" asp-route-id="@division.Id">Edit</a>
                        <a class="btn btn-sm btn-primary" asp-action="Departments" asp-controller="Division" asp-route-Id="@division.Id">View Departments</a>

                        <button type="submit" onclick="return confirm('Do you really want to delete this campus?');" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="AddDivision">Add new division</a>
</p>

