@model PRWithRequest

@{
    ViewData["Title"] = "CreateOrder";
}

<h2>Create New Order</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <h4 style="color: red">@ViewData["Successful"]</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeFullName" class="control-label">Name</label>
                <input asp-for="EmployeeFullName" class="form-control" readonly />
                <span asp-validation-for="EmployeeFullName" class="text-danger"></span>
            </div>

            <div class="form-group">

                <div class="form-group">
                    <label asp-for="SupervisorFullName" class="control-label">Supervisor</label>
                    <input asp-for="SupervisorFullName" class="form-control" readonly />
                    <span asp-validation-for="SupervisorFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateMade" class="control-label">Date</label>
                    <input asp-for="DateMade" class="form-control" readonly />
                    <span asp-validation-for="DateMade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BusinessJustification" class="control-label"></label>
                    <input asp-for="BusinessJustification" class="form-control" />
                    <span asp-validation-for="BusinessJustification" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Budget Code</label>
                    @Html.DropDownListFor(x => x.BudgetCodeId, new List<SelectListItem>(ViewBag.BudgetCodes), "Pick a Budget Code", new { @class = "form-control" })
                    <span asp-validation-for="BudgetCodeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Category</label>
                    @Html.DropDownListFor(x => x.CategoryId, new List<SelectListItem>(ViewBag.Categories), new { @class = "form-control" })
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="StateContract" /> @Html.DisplayNameFor(model => model.StateContract)
                        </label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <button type="submit" asp-route-id="@Model.Id" class="btn btn-primary">Add New Item</button>
            </div>
            @Html.HiddenFor(x => x.TimeStamp)
            @Html.HiddenFor(x => x.EmployeeId)
            @Html.HiddenFor(x => x.SupervisorId)
            @Html.HiddenFor(x => x.StatusId)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>