@model PRWithRequest

<h2>View Order</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeFullName" class="control-label">Name</label>
                <input asp-for="EmployeeFullName" class="form-control" readonly />
                <span asp-validation-for="EmployeeFullName" class="text-danger"></span>
            </div>

            <div class="form-group">

                <div class="form-group">
                    <label asp-for="SupervisorFullName" class="control-label">Supervisor</label>
                    <input asp-for="SupervisorFullName" class="form-control" readonly />
                    <span asp-validation-for="SupervisorFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateMade" class="control-label">Date</label>
                    <input asp-for="DateMade" class="form-control" readonly />
                    <span asp-validation-for="DateMade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BudgetCodeName" class="control-label">Budget Code</label>
                    <input asp-for="BudgetCodeName" class="form-control" readonly />

                </div>

                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label">Category</label>
                    <input asp-for="CategoryName" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="StateContract" onclick="return false;" /> @Html.DisplayNameFor(model => model.StateContract)
                        </label>
                    </div>
                </div>

                <div class="form-group"
                        <label asp-for="DateMade" class="control-label">Date</label>
                        <input asp-for="DateMade" class="form-control" readonly />
                        <span asp-validation-for="DateMade" class="text-danger"></span>
                    </div>


            </div>
        </form>
    </div>
    @if (Model.RequestsWithVendor.Any())
    {
        <table class="table">
            <tr>
                <th>Quantity Requested</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Estimated Cost</th>
                <th>Estimated Total</th>
                <th>Chosen</th>

            </tr>

            @foreach (RequestWithVendor req in Model.RequestsWithVendor)
            {
                <tr>
                    <td>@req.QuantityRequested</td>
                    <td>@req.ItemName</td>
                    <td>@req.Description</td>
                    <td>@req.EstimatedCost</td>
                    <td>@req.EstimatedTotal</td>
                    <td>@req.Chosen</td>
                    <td><a asp-action="Index" asp-controller="Attachment" asp-route-requestId=@req.Id class="form-control">View Attachments</a><td>
                </tr>

            }

        </table>

        @if (Model.StatusId == 1)
        {
            <a asp-controller="Request" asp-action="AddItem" asp-route-orderId="@Model.Id" class="btn btn-primary">Add New Item</a>

            if (Model.RequestsWithVendor.Where(x => x.EstimatedTotal > 3000).Any() && Model.RequestsWithVendor.Count() < 3 && Model.StateContract == false)
            {
                <h4>You must add three competing items for orders over 3000</h4>

            }
            else
            {

                <a asp-controller="Order" asp-action="UpdateStatus" asp-route-id="@Model.Id" class="btn btn-primary">Submit</a>
            }

        }

        @if (User.IsInRole("Purchasing") && Model.StatusName == "Approved")
        {
            <a asp-controller="Order" asp-action="UpdateStatus" asp-route-id="@Model.Id" class="btn btn-primary">Mark As Ordered</a>
        }

    }



</div>