@model PRWithRequest

@{
    ViewData["Title"] = "Edit Items";
}

<h2>Edit Items</h2>



<table class="table">
    <tr>
        <th>Quantity Requested</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Estimated Cost</th>
        <th>Estimated Total</th>
    </tr>

    @foreach (RequestWithVendor req in Model.RequestsWithVendor)
    {
    <tr>
        <td>@req.QuantityRequested</td>
        <td>@req.ItemName</td>
        <td>@req.Description</td>
        <td>@req.EstimatedCost</td>
        <td>@req.EstimatedTotal</td>



        <td>

            <form asp-action="EditItems" asp-route-id="@req.Id" asp-route-itemId="@req.ItemId" method="post">
                <input type="button" value="Edit Item" asp-route-id=@req.Id onclick="location.href='@Url.Action("EditItem","Request", new {id= req.Id, itemId = req.ItemId})'" class="btn btn-default" />
                <button type="submit" onclick="return confirm('Do you really want to remove item?')" class="btn btn-sm btn-danger">
                    Remove Item
                </button>
            </form>
        </td>
     
    </tr>


    }

</table>

