@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<BudgetCodeWithAmount>

@{
    ViewData["Title"] = "Budget Codes";
}
<h2>Budget Codes</h2>


@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No Budget Codes yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="BudgetCode">
        <tr>
            <th>DA</th>
            <th>Name</th>
            <th>Annual</th>
            <th>Active</th>
            <th>Total Amount</th>

        </tr>

        @foreach (BudgetCodeWithAmount budgetCode in Model)
        {

            <tr>
                <td>@budgetCode.DA</td>
                <td>@budgetCode.BudgetCodeName</td>
                <td>@budgetCode.Type</td>
                <td>@budgetCode.Active</td>
                <td>@budgetCode.TotalAmount</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="EditBudgetCode" asp-route-id="@budgetCode.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="UpdateTotal" asp-route-id="@budgetCode.Id">UpdateTotal</a>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="AddBudgetCode">Add new Budget Code</a>
</p>

