@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<CampusWithAddress>


@{
    ViewData["Title"] = "Index";
}

<h2>Campus</h2>


@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No campuses yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Campus">
        <tr>
            <th>Campus Name</th>
            <th>Active</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>

        </tr>

        @foreach (CampusWithAddress campus in Model)
        {

            <tr>
                <td>@campus.CampusName</td>
                <td>@campus.Active</td>
                <td>@campus.StreetAddress</td>
                <td>@campus.City</td>
                <td>@campus.State</td>
                <td>@campus.Zip</td>





                <td>
                    <form asp-action="DeleteCampus" asp-route-id="@campus.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditCampus" asp-route-id="@campus.Id">Edit</a>
                        <a class="btn btn-sm btn-primary" asp-action="Rooms" asp-controller="Campus" asp-route-campusId="@campus.Id">View Rooms</a>

                        <button type="submit" onclick="return confirm('Do you really want to delete this campus?');" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="AddCampus">Add new campus</a>
</p>

