@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<RoomWithCampus>

@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No rooms yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Campus">
        <tr>
            <th>Room Code</th>
            <th>Room Name</th>
            <th>Active</th>
            @*<th>City</th>
            <th>State</th>
            <th>Zip</th>*@

        </tr>

        @foreach (RoomWithCampus room in Model)
        { 
            <tr>
                <td>@room.RoomCode</td>
                <td>@room.RoomName</td>
                <td>@room.Active</td>
                @*<td>@campus.City</td>
                <td>@campus.State</td>
                <td>@campus.Zip</td>*@





                <td>
                    <form asp-action="DeleteCampus" asp-route-id="@room.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditCampus" asp-route-id="@room.Id">Edit</a>
                        @*<a class="btn btn-sm btn-primary" asp-action="Rooms" asp-controller="Campus" asp-route-id="@room.Id">View Rooms</a>*@

                        <button type="submit" onclick="return confirm('Do you really want to delete this campus?');" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="AddRoom">Add new room</a>
</p>


