
@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>


@*@if (!Model.Any())*@
{
    <tr><td colspan="3" class="text-center">No orders yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Department Management">
        <tr>
            <th>Date Created</th>
            <th>User Name</th>
            <th>Supervisor Name</th>
            <th>Estimated Amount</th>
            <th>Status</th>
            <th>Category</th>
            <th>Budget Code</th>
            <th>State Contract</th>
        </tr>

      @*  @foreach ()*@
         {

        <tr>
            @*<td>@department.Id</td>
        <td>@department.DepartmentName</td>
        <td>@department.Active</td>
        <td>@department.Division.DivisionName</td>*@
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


            <td>
                @*<form asp-action="DeleteDepartment" asp-route-id="@department.Id" method="post">*@
                <a class="btn btn-sm btn-primary" asp-action="Details" @*asp-route-id="@department.Id" *@>Details</a>




                @*<button type="submit" onclick="return confirm('Do you really want to delete this division?');" class="btn btn-sm btn-danger">
                    Delete
                </button>
            </form>*@
            </td>
        </tr>
         }

    </table>
}
<p>
    <a anchor-style="primary" asp-action="Create">Create new order</a>
</p>
