@model EmployeeWithDepartmentAndRoomAndRole


@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<div class="row">

    <form method="post" asp-controller="Admin" asp-action="EditUser">
        <div class="col-md-4">
            <h4 style="color: red">@ViewData["Successful"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Department</label>
                @Html.DropDownListFor(x => x.DepartmentId, new List<SelectListItem>(ViewBag.Departments), "Pick a Department", new { @class = "form-control" })
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Room</label>
                @Html.DropDownListFor(x => x.RoomId, new List<SelectListItem>(ViewBag.Rooms), "Pick a Room", new { @class = "form-control" })
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                @Html.DropDownListFor(x => x.RoleId, new List<SelectListItem>(ViewBag.Roles), new { @class = "form-control" })
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            @Html.HiddenFor(x => x.Id)

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
